* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}
.display {
  margin: 20px 0;
}
.display input {
  border: none;
  background-color: #eee;
  padding: 8px 14px;
  border-radius: 5px;
  outline: none;
}
ul {
  list-style: none;
}
ul li {
  margin: 10px 0;
}